*{
    box-sizing: border-box;
    padding: 0;
}
html,body{
    margin: 0;
    font-size: ;
}
.hidden {
    opacity: 0;
  }
  
  .show {
    opacity: 1;
    animation: offset 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(1){
    animation: offset 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(2){
    animation: offset 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(3){
    animation: offset 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(4){
    animation: offset 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(4){
    animation: offset 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(5){
    animation: offset 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(6){
    animation: offset 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(7){
    animation: offset 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(8){
    animation: offset 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(9){
    animation: offset 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(10){
    animation: offset 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(11){
    animation: offset 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(12){
    animation: offset 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(13){
    animation: offset 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(14){
    animation: offset 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(15){
    animation: offset 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(16){
    animation: offset 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(17){
    animation: offset 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(17){
    animation: offset 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(18){
    animation: offset 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(19){
    animation: offset 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(20){
    animation: offset 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(21){
    animation: offset 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(22){
    animation: offset 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(23){
    animation: offset 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(24){
    animation: offset 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(25){
    animation: offset 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(26){
    animation: offset 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(27){
    animation: offset 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(28){
    animation: offset 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(29){
    animation: offset 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(30){
    animation: offset 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(31){
    animation: offset 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(32){
    animation: offset 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(33){
    animation: offset 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(34){
    animation: offset 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(35){
    animation: offset 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(36){
    animation: offset 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  .show :nth-child(37){
    animation: offset 0.8s 4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  @keyframes offset {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
.one{
    width: 100%;
    height: 800px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
img{
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
}

h1 {
    font-family: "Montserrat Medium";
    margin: 0;
    color: aliceblue;
    z-index: 1;
    max-width: 60ch;
    text-align: center;
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    font-size: 18px;
  }
  
    audio {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
